<nav id="sideNavParent" class="expt-nav-wrapper">                
            <ul id="sideNavParent">
                <li class="expt-nav-brand">
                    <a class="visible-sm visible-md visible-lg"  [routerLink]="['']" >Expense Tracker</a>
                </li>
                <li>                  
                    <a [routerLink]="['/expensegroups']" >
                      <span class="visible-sm visible-md visible-lg">Expense Groups</span>
                          <i class="glyphicon glyphicon-list-alt visible-xs"></i>                      
                    </a>                    
                </li>
                <li>
                        <a [routerLink]="['/expenses']" >
                          <span class="visible-sm visible-md visible-lg">Expenses</span>
                          <i class="glyphicon glyphicon-tasks visible-xs"></i>         
                          </a>                    
                </li>
                <!-- <li>
                    <a (click) ='toogleDropDown()'>
                      <span class="visible-sm visible-md visible-lg"> 
                         Add&nbsp;<b class="caret"></b>               
                      </span>                       
                      <i class="glyphicon glyphicon-pencil visible-xs"></i>
                     </a>
                     <div *ngIf="showDropDown" class="visible-sm visible-md visible-lg">
                            <ul id="ulAdd" data-parent="#sideNavParent">
                              <li>
                                <a href="#">New Expense Group</a>
                              </li>
                              <li>
                                <a href="#">New Expense</a>
                              </li>                              
                            </ul>
                          </div>
                </li> -->
            </ul>   
    </nav>