.body-content {
    margin-left: 14em;
    margin-top: 1em;
    width: 85%;
      transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    -webkit-transition: margin-left 0.3s linear;
  }