<div class="row" *ngIf='expenseGroup' >   
        <div class="row">
          <div class="col-md-10 expGrpDetail">           
         <div class="col-md-10">
                <h2>{{expenseGroup.title | uppercase}}</h2>
         </div>       
          <div class="col-md-5">        
                <div><strong>UserId</strong>: {{expenseGroup.userId}}</div>
                <div><strong>Description</strong>: {{expenseGroup.description}}</div>            
           </div>
           <div class="col-md-5">
                <div><strong>TotalExpense</strong>: {{expenseGroup.expenses.length}}</div>
                <div><strong>Status</strong>: {{expenseGroup.expenseGroupStatusId}}</div>
           </div>  
        </div>      
        </div> 
    <hr/>
     <expense-list [isChildComponent]='true' [expenseList]='expenseGroup?.expenses' ></expense-list>
</div>