<div class="row">
    <h1>{{pageTitle}}</h1>
    <hr/>
    <div class="row">
        <div class="col-md-5" *ngFor="let expenseGroup of expenseGroups">
            <div [routerLink] ="['/expensegroup',expenseGroup.id]" class="well hoverwell thumbnail">
                <h2>{{expenseGroup.title}}</h2>
                <div><b>UserId</b>: {{expenseGroup.userId}}</div>
                <div><b>Description</b>: {{expenseGroup.description}}</div>
                <div><b>TotalExpense</b>: {{expenseGroup.expenses.length}}</div>
                <div><b>Status</b>: {{expenseGroup.expenseGroupStatusId}}</div>

            </div>
        </div>
    </div>
</div>