/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
    background-color: #428bca;
    cursor: pointer;
  }
  .navbar-default {    
    background-color: #428bca !important;           
  }
  .navbar-brand {
    color: whitesmoke !important;  
  } 
  .navbar-nav li a{
    color:white !important;
  }
  
  .container {
    padding-top: 10px !important;
    background-color: #d9edf7 !important;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }  
